/* 
----------------styling for the sidebar services lists----------------
*/

.sidebar-services-lists {
    display: flex;
    flex-direction: column;
}
.sidebar-services-lists > a {
    background-color: #e9f0f6;
    padding: 18px 30px;
    color: #0b416f;
    display: flex;
    justify-content: space-between;
}
.sidebar-services-lists > a:hover {
    background-color: #0b416f;
    color: white;
}


/* 
-------------styling for the sidebar download buttons--------------------
*/

.sidebar-download-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-download-buttons > a {
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-download-buttons > a:nth-child(1) {
    color: white;
    background-color: #0b416f;
    border: 2px solid #0b416f;
}
.sidebar-download-buttons > a:nth-child(1):hover {
    background-color: #0b416f;
    border: 2px solid #0b416f;
}
.sidebar-download-buttons > a:nth-child(2) {
    color: #0b416f;
    border: 2px solid #0b416f;
}
.sidebar-download-buttons > a:nth-child(2):hover {
    background-color: #0b416f;
    border: 2px solid #0b416f;
    color: white;
}



/* 
---------------start of the sidebar banner image--------------
*/

.sidebar-banner-image {
    height: 450px;
    width: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    inset: 0;
    align-items: flex-start;
}
.sidebar-banner-image > .sidebar-banner-img > * {
    z-index: 3;
}
.sidebar-banner-image > .sidebar-banner-img {
    position: relative;
    z-index: 2;
    padding: 30px 20px; 
    color: white;
    text-align: center;
}
.sidebar-banner-image > .sidebar-banner-img > h2 {
    margin-top: 10px;
}
.sidebar-banner-image > .sidebar-banner-img > img {
    height: 90px;
    width: 90px;
    
}
.sidebar-banner-image::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(assets/images/products/sidebar/banner.jpg);
    background-size: 100% 100%;
    opacity: .5;
    z-index: 0;
}
.sidebar-banner-image::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: #0b416f;
    opacity: .75;
}